@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #ccc;
}

.attribution {
    margin: 0 auto;
    margin-top: 5.9rem;
    width: 40rem;
    height: 25rem;
    background-color: white;
    padding: 3.2%;
    padding-right: 1%;
    border-radius: 1rem 1rem 9rem 1rem;
}

.contenido {
    width: 30rem;
}

.contenedor-div-input {
    display: flex;
    justify-content: space-between;
    height: 7.5rem;
}

.div-input {
    width: 16rem;
}

select {
    width: 60%;
    height: 38%;
    display: block;
    float: inline-start;
    font-size: x-large;
    padding-left: 10%;
    margin-top: .3rem;
    font-weight: 600;
    border-radius: 0.3rem;
    border: 1px solid #ccc;
    /* box-shadow: 1px 1px 0px black; */
}

label {
    color: #949191;
    text-transform: uppercase;
}

#icon-arrow-svg {
    background-color: hsl(259, 100%, 65%);
    border-radius: 3rem;
    padding: 1rem;
    display: block;
    float: right;
    margin-right: 2.5rem;
    margin-top: -2.5rem;
}

#icon-arrow-svg:hover {
    cursor: pointer;
    background-color: hsl(259, 53%, 56%);
}

.resultado {
    padding-top: 2rem;
    padding-left: 2rem;
    font-size: 1.9rem;
}

span { 
    color: hsl(259, 100%, 65%) ;
}

